<ion-view view-title="Ειδοποιήσεις">
<ion-content>
<ion-list
show-delete="shouldShowDelete"
show-reorder="shouldShowReorder"
can-swipe="listCanSwipe">
<ion-item ng-repeat="item in items">

<h2>{{item.bus_name}}</h2>
<h3>{{item.alarm_name}}</h3>
<p>{{item.alarm_description}}</p>
<ion-option-button class="button-positive"
ng-click="share(item)">
Share
</ion-option-button>
<ion-option-button class="button-info"
ng-click="edit(item)">
Edit
</ion-option-button>
<ion-delete-button class="ion-minus-circled"
ng-click="items.splice($index, 1); showAlert()">
</ion-delete-button>
<ion-reorder-button class="ion-navicon"
on-reorder="reorderItem(item, $fromIndex, $toIndex)">
</ion-reorder-button>
<ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" title="title">
<p> {{ currentDate | date:'dd - MMMM - yyyy' }} </p>
</ionic-datepicker>
<ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">   
<p> {{slots.epochTime}} </p>
</ionic-timepicker>

</ion-item>
</ion-list>

</ion-content>
</ion-view>